.selectChar{
	font-family: Arial;
}
.box{
	background-color: aqua;
	font-size: 1.5em;
	padding: 0% 50% 0% 90%;
}
.box > .name{
	bottom: 0;
	position: absolute;
}
.box:hover{
	box-shadow: 10px 10px 5px grey;
	height: 90%;
	width: 50%;
}
@keyframes shadow{
	from{
		box-shadow: 0;
	}
	to{
		box-shadow: 10px 10px 5px grey;
	}
}
