.selectChar{
	font-family: Arial;
}
.box{
	font-size: 1.5em;
}
.box > .name{
	background-color: aqua;
	position: absolute;
	padding: 1em 1em 1em 1em;
}
.box:hover{
	box-shadow: 10px 10px 5px grey;
}
